{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>linuxdude</title>
		<meta name="description" content="Another perfect job from Codrops, that i use for front-end" />
		<meta name="keywords" content="grid, layout, effect, animated, responsive, magazine, template, web design" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href={% static "img/favicon.ico" %}>
		<link rel="stylesheet" type="text/css" href='{% static "css/normalize.css"%}' />
		<link rel="stylesheet" type="text/css" href='{% static "fonts/font-awesome-4.3.0/css/font-awesome.min.css"  %}'/>
		<link rel="stylesheet" type="text/css" href='{% static "css/style1.css" %}' />
        <link rel="stylesheet" type="text/css" href='{% static "css/style3.css" %}' />
        <!--<link rel="stylesheet" type="text/css" href='{% static "css/demo.css" %}' />-->
        <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/additional-methods.js"></script>
        <script>
            $.validator.methods.email= function(value, e){
                return this.optional(e) || /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(value);

            }
        </script>

		<script src='{% static "js/modernizr.custom.js" %}'></script>

	</head>
	<body>
        <div class="container">
			<button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
			<div id="theSidebar" class="sidebar">
				<button class="close-button fa fa-fw fa-close"></button>

<!--
-->
                <h1><span>Django<span> Blog Test</span></span></h1>
<!--
-->
				<div class="related">
					<h3>Related Demos</h3>
					<a id="trigger-overlay" href="#">Register</a>
					<a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
					<a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
				</div>
			</div>

			<div id="theGrid" class="main">
				<section class="grid">
					<header class="top-bar">
						<h2 class="top-bar__headline">Latest articles</h2>
						<div class="filter">
							<span>Filter by:</span>
							<span class="dropdown">Date</span>
						</div>
					</header>

                    {% block article %}
                    {% endblock  %}
					<footer class="page-meta">
						<span></span>
					</footer>
				</section>
				<section class="content">
					<div class="scroll-wrap">
                      {% include 'index/article_content.html'%}
					<button class="close-button"><i class="fa fa-close"></i><span>Close</span></button>
                    </div>
				</section>
			</div>
		</div><!-- /container -->
        <!--modal -->
        <div class="overlay overlay-slidedown">
			<button type="button" class="overlay-close">Close</button>
           <div class="main-agileinfo">
			<div class="agileits-top">
				<form action="{% url 'modal' %}" method="post" id="newuser">{% csrf_token %}
					<input class="text" type="text" name="Username" placeholder="Username" required="" minlength="4">
					<input class="text email" type="email" name="email" placeholder="Email" required=""  >
					<!--<input class="text" type="password" name="password" placeholder="Password" required="">
					--><input class="text w3lpass" type="password" name="password1" placeholder="Confirm Password" required="" minlength="8">
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="" value="1" name="terms">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>

					<input type="submit" value="SIGNUP"  id="btn">
				</form>
				<p>Don't have an Account? <a href="#" id="login"> Login Now!</a></p>
			</div>
               <script>

               </script>
		</div>
        </div>
          <script>


                    let validator = $('#newuser').validate()


                    $(document).on('submit', '#newuser', (function (e) {
                        e.preventDefault();
                    if (validator.valid()){
                    $.ajax({
                        type: 'POST',
                        url: 'modal/',
                        data: {
                            username: $('input[name=Username]').val(),
                            email: $('input[name=email]').val(),
                            password: $('input[name=password1]').val(),
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                        },

                        success: function (data1) {
                            if (data1.exists) {
                                alert(data1.error_message);

                        }
                             else alert('succes');
                            $('#newuser')[0].reset();
                            }
                    });

            }}));

    </script>
        <script>
         $('#login').click(function(e) {
             e.preventDefault()
                $('input[name=email], .wthree-text').hide();
                $('#btn').attr('value', 'Login');
                $.ajax({
                    type: 'POST',
                    url: 'login/',
                    data: {
                        username: $('input[name=Username]').val(),
                        password: $('input[name=password1]').val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: $('#newuser')[0].reset()
                });

            })
        </script>
		<script src='{% static "js/classie.js" %}'></script>
		<script src='{% static "js/main.js" %}'></script>
        <script src='{% static "js/demo1.js" %}'></script>
	</body>
</html>
